# ---------- Build output ----------
dist/
.output/
.vercel/
.netlify/

# ---------- Astro ----------
.astro/

# ---------- Dependencies ----------
node_modules/
.pnp/
.pnp.js
.pnp.cjs

# ---------- Logs ----------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# ---------- Environment variables ----------
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local

# ---------- Caches ----------
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
.turbo/

# ---------- IDE / Editors ----------
# JetBrains (IntelliJ IDEA, WebStorm, etc.)
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/
!.vscode/extensions.json

# Sublime / Vim / Emacs
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# ---------- OS ----------
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
